<div class="row">
    <ul class="nav nav-pills nav-stacked">
        <li><h2>Catégories :</h2></li>
        <li class="dropdown">
            <a href="~/Categories/Details/1" class="dropdown-toggle" data-toggle="dropdown">Entrées <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="~/Types/Details/12">Chaud</a>
                </li>
                <li>
                    <a href="~/Types/Details/13">Froid</a>
                </li>
                <li>
                    <a href="~/Types/Details/1">Cakes</a>
                </li>
                <li>
                    <a href="~/Types/Details/2">Salades</a>
                </li>
                <li>
                    <a href="~/Types/Details/3">Soupes</a>
                </li>
                <li>
                    <a href="~/Types/Details/4">Tartes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="~/Categories/Details/2" class="dropdown-toggle" data-toggle="dropdown">Viandes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="~/Types/Details/5">Agneau</a>
                </li>
                <li>
                    <a href="~/Types/Details/6">Boeuf</a>
                </li>
                <li>
                    <a href="~/Types/Details/7">Canard</a>
                </li>
                <li>
                    <a href="~/Types/Details/8">Lapin</a>
                </li>
                <li>
                    <a href="~/Types/Details/9">Porc</a>
                </li>
                <li>
                    <a href="~/Types/Details/10">Poulet</a>
                </li>
                <li>
                    <a href="~/Types/Details/11">Veau</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="~/Categories/Details/3">Poissons</a>
        </li>
        <li>
            <a href="~/Categories/Details/4">Plats</a>
        </li>
        <li>
            <a href="~/Categories/Details/5">Accompagnements</a>
        </li>
        <li>
            <a href="~/Categories/Details/6">Desserts</a>
        </li>
    
    </ul>
</div>
    



