@model List<Cuillere.Models.CartItem>

<h2>Liste de courses</h2>

    <table>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ingredient.Name</td>
                <td>@item.Count</td>
                <td>@item.unite</td>
            </tr>
        }
    </table>


