@model IEnumerable<Cuillere.Models.Recette>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="row">
    <div class="col-xs-12 col-md-3">
        @Html.Partial("_CatMenu")
    </div>

    <div class="col-xs-12 col-md-6">*@
        
        <div class="row">
            <p>
                @using (Html.BeginForm(FormMethod.Get))
                {
<p>
                @Html.TextBox("SearchString")
                <input type="submit" value="Chercher" />
            </p>
            }
            </p>
        </div>
    
        <div class="row">

            @foreach (var item in Model)
        {
            <div class="col-xs-12 col-md-4">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                        <hr />
                        <p>@Html.ActionLink("Voir", "Details", "Recettes", new { id = item.RecetteId }, new { @class = "btn btn-info" })</p>
                    </div>
                </div>
            </div>
            }

        </div>
    @*</div>
        <div class="col-xs-12 col-md-3">
            @{Html.RenderAction("ShoppingList", "ShoppingList");}
        </div>
    </div>*@







