@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <a href="~/Recettes/Index">
            <h3>Toutes les recettes</h3>
            <img src="~/Content/Images/recettes.jpg" alt="" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Saisons/Details/1">
            <h3>Ete</h3>
            <img src="~/Content/Images/ete.jpg" alt="" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Saisons/Details/2">
            <h3>Hiver</h3>
            <img src="~/Content/Images/hiver.jpg" alt="" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Saisons/Details/3">
            <h3>Toutes saisons</h3>
            <img src="~/Content/Images/saisons.jpg" alt="" />
        </a>
    </div>
</div>

