@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <a href="~/Recettes/Index">
            <h2>Toutes les recettes</h2>
            <img src="~/Content/Images/recettes.jpg" alt="" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Saisons/Details/1">
            <h2>Ete</h2>
            <img src="~/Content/Images/ete.jpg" alt="" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Saisons/Details/2">
            <h2>Hiver</h2>
            <img src="~/Content/Images/hiver.jpg" alt="" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Saisons/Details/3">
            <h2>Toutes saisons</h2>
            <img src="~/Content/Images/saisons.jpg" alt="" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a href="~/Categories/Details/1">Les salades</a></li>
            <li><a href="~/Categories/Details/2">Les soupes</a></li>
            <li><a href="~/Categories/Details/3">Les entrées</a></li>
        </ul>
    </div>
</div>
