@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_CatMenu")
    </div>
    <div class="col-md-5">
        <a href="~/Recettes/Index">
            <h3>Toutes les recettes</h3>
            <img src="~/Content/Images/recettes.jpg" alt="" />
        </a>
    </div>
</div>

    


