@using Cuillere.Models
@model Category

@{
    ViewBag.Title = "Catégories";
}

<h2>Catégorie: @Html.DisplayFor(model => model.Name)</h2>

<table class="table">
    <tr>
        <th>
            Recette
        </th>
        <th></th>
    </tr>

    @foreach (Recette r in Model.Recettes)
    {
        <tr>
            <td>
                @r.Name
            </td>
            <td>
                @Html.ActionLink("Voir", "Details", "Recettes", new { id = r.RecetteId }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
